<a href="https://colab.research.google.com/github/Tanveer457/program_ai_lab_1/blob/main/lab_2_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 2 & 3 STRINGS**



**Task 1: Print at least 5 types of data types**

In [1]:
# Integers
age = 25
print("Integer:", age,type(age))
me = 34
print("Integer:", me,type(me))
you = 56
print("Integer:", you,type(you))
ss = 45
print("Integer:", ss,type(ss))
le =223
print("Integer:", le,type(le))


# Floating-point numbers
pi = 3.14159
print("Float:", pi,type(pi))
tu =43.5
print("Float:", tu,type(tu))
hu =34.3
print("Float:", pi,type(hu))
we =34.5
print("Float:", pi,type(we))
se=56.6
print("Float:", pi,type(se))

# Complex point numbers
h = 4+6j
print("Complex:", h,type(h))
i = 3+4j
print("Complex:", i,type(i))
f = 3+0j
print("Complex:", f,type(f))
g = 0+0j
print("Complex:", g,type(g))
t = 2+3j
print("Complex:", t,type(t))

Integer: 25 <class 'int'>
Integer: 34 <class 'int'>
Integer: 56 <class 'int'>
Integer: 45 <class 'int'>
Integer: 223 <class 'int'>
Float: 3.14159 <class 'float'>
Float: 43.5 <class 'float'>
Float: 3.14159 <class 'float'>
Float: 3.14159 <class 'float'>
Float: 3.14159 <class 'float'>
Complex: (4+6j) <class 'complex'>
Complex: (3+4j) <class 'complex'>
Complex: (3+0j) <class 'complex'>
Complex: 0j <class 'complex'>
Complex: (2+3j) <class 'complex'>

**Task 2: Write example of type conversion for each (minimum 3)**

In [16]:
# Integer to float & Complex
age_in_years = 25
age_in_days = float(23)
print("Age in days (float):", age_in_days)
age_in_me = 50
age_in_days = float(age_in_me)
print("Age in days (float):", age_in_days)
age_in_months = 34
age_in_days = complex(age_in_months)
print("Age in days (complex):", age_in_days)


# Float to integer (round down)& Complex
pi_int = int(pi)
print("Pi as integer:", pi_int)
tu =int(43.5)
print("tu as integer:", tu,type(tu))
hu =complex(34.3)
print("tu as complex:", hu,type(hu))

#Complex to integer and float
# Convert to integer and float
h_real = int(h.real)
h_imag = float(h.imag)
i_real = int(i.real)
i_imag = float(i.imag)
f_real = int(f.real)
f_imag = float(f.imag)

# Print the results
print("Real part of h:", h_real, type(h_real))
print("Imaginary part of h:", h_imag, type(h_imag))
print("Real part of i:", i_real, type(i_real))
print("Imaginary part of i:", i_imag, type(i_imag))
print("Real part of f:", f_real, type(f_real))
print("Imaginary part of f:", f_imag, type(f_imag))

Age in days (float): 23.0
Age in days (float): 50.0
Age in days (complex): (34+0j)
Pi as integer: 3
tu as integer: 43 <class 'int'>
tu as complex: (34.3+0j) <class 'complex'>
Real part of h: 4 <class 'int'>
Imaginary part of h: 6.0 <class 'float'>
Real part of i: 3 <class 'int'>
Imaginary part of i: 4.0 <class 'float'>
Real part of f: 3 <class 'int'>
Imaginary part of f: 0.0 <class 'float'>

**Task 3: Assign multiple strings to a single variable with your name, registration number, program, semester etc**

In [3]:
info = """
Name: Alice Smith
Registration Number: ABC123
Program: Computer Science
Semester: Spring 2024
"""
print(info)

Name: Alice Smith
Registration Number: ABC123
Program: Computer Science
Semester: Spring 2024

**Task 4: Write Your country name and access the last 3 characters**

In [4]:
country = "Pakistan"
last_three_chars = country[-3:]
print("Last three characters of country name:", last_three_chars)

Last three characters of country name: tan

**Task 5: Write code and observe using len() function it count space or not**

In [5]:
sentence = "This is a sentence with spaces"
print("Length of sentence (including spaces):", len(sentence))
sentence = "This is a sentence with spaces"
print("   Length of sentence (including spaces):    ", len(sentence))

Length of sentence (including spaces): 30
   Length of sentence (including spaces):     30

**Task 6: Write code to access the 2nd and 3rd character of your name using negative indexes**

In [6]:
name = "Alice"
second_char = name[-2]
third_char = name[-3]
print("Second character:", second_char)
print("Third character:", third_char)

Second character: c
Third character: i

**Task 7: Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes**

In [7]:
name = "Bob"
age = 30

# With index numbers
formatted_string = "My name is {0} and I am {1} years old.".format(name, age)
print(formatted_string)

# Without index numbers
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Bob and I am 30 years old.
My name is Bob and I am 30 years old.

**Task 8: Take input from user and than display it like "John age is: age"**

In [9]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"{name}'s age is: {age}")

Enter your name: tani
Enter your age: 3
tani's age is: 3