<a href="https://colab.research.google.com/github/Tanveer457/program_ai_lab_1/blob/Tanveer457-patch-1/Lab_1_programming_for_Ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



**Task 1: Differentiate between assignment operator and equality operator**

In [ ]:
# Assignment operator (assigns a value to a variable):

age = 25  # Assigns the value 25 to the variable age

print(age)
# Equality operator (compares values):
is_adult = age >= 18  # Checks if age is 18 or older
print(is_adult)  # True

25
True

**Task 2: Explore all kinds/data types of variables**

In [ ]:
# Integer variable:
num_students = 10
# Floating-point variable:
price = 19.99

# String variable:
name = "Alice"

# Boolean variable:
is_online = True
print(type(num_students))
print(type(price))
print(type(name))
print(type(is_online))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Task 3: Explain variable naming rules and use different names**

In [ ]:
# Valid variable names:
_total = 100
totalScore = 85
firstName = "John"
print(_total)
print(totalScore)
print(firstName)

# Invalid variable names (start with a number or contain special characters):
2ndPlace = "Bob"  # Invalid: starts with a number
user@name = "Alice"  # Invalid: contains the @ symbol

SyntaxError: invalid decimal literal (<ipython-input-5-65a53a865a9d>, line 10)

**Task 4: Declare and initialize multiple variables**

In [ ]:
# Single variable with multiple values:
coordinates = 10, 20
print(coordinates)

# Multiple variables with single values:
x, y = 10

(10, 20)

TypeError: cannot unpack non-iterable int object

**Task 5: Perform arithmetic operations**

In [ ]:
# Integer operations:
a = 10
b = 5
sum = a + b
difference = a - b
product = a * b
quotient = a // b
print(sum)
print(difference)
print(product)
print(quotient)


# Floating-point operations:
x = 3.14
y = 2.5
sum_float = x + y
difference_float = x - y
product_float = x * y
quotient_float = x / y
print(round(sum_float))
print(round(difference_float,7))
print(round(product_float,2))
print(round(quotient_float,2))

15
5
50
2
6
0.64
7.85
1.26

**Task 6: Work with string literals**

In [ ]:
# Using single quotes:
message = 'Hello, world!'
print(message)

# Using double quotes:
greeting = "Welcome to Python"
print(greeting)

# Using double quotes within single quotes:
quote = 'He said, "Python is awesome!"'
print(quote)
# Using single quotes within double quotes:
song = "She sang 'Let It Be'"
print(song)

Hello, world!
Welcome to Python
He said, "Python is awesome!"
She sang 'Let It Be'

**Task 7: Use the print() function and explore string formatting**

In [ ]:
# Printing variables:
print(name)
print(age)

# Printing multiple variables with comma separation:
print(name, age)

# Using f-strings for formatting:
formatted_string = f"Hello, {name}! You are {age} years old."
print(formatted_string)

Alice
25
Alice 25
Hello, Alice! You are 25 years old.