<a href="https://colab.research.google.com/github/Tanveer457/program_ai_lab_1/blob/main/List_programming_for_ai___lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>





# **1. Access List Items:**

In [46]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[2])
print(fruits[0:-1])

apple
cherry
['apple', 'banana']



# **2. Change List Items:**

In [ ]:
colors = ["red", "green", "yellow"]
colors[1] = "blue"
print(colors)


# **3. Add List Items:**

In [11]:
numbers = [1, 2, 3, 4]
numbers.append(5)
numbers.insert(2,10)
print(numbers)

[1, 2, 10, 3, 4, 5]


**4. Remove List Items:**

In [38]:
animals = ["cat", "dog", "bird", "fish"]
animals.remove("fish")
animals.pop(2)
print(animals)

['cat', 'dog']

# **5.	Loop Lists**

In [13]:
cities = ["New York", "London", "Tokyo"]
for city in cities:
    print(city)

New York
London
Tokyo

# **6.	List Comprehension:**

In [15]:
numbers = [1,4,6,6]
squared_numbers = [x ** 2 for x in numbers]
print(squared_numbers)

[1, 16, 36, 36]

# **7.	Sort Lists:**

In [16]:
names = ["John", "Alice", "Bob", "Charlie"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'John']

# **8.	Copy Lists:**

In [23]:
fruits = ["apple", "banana", "orange"]
new_fruits = fruits.copy()
print(new_fruits)

['apple', 'banana', 'orange']

# **9.	Join Lists:**

In [24]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 4, 5, 6]

# **10.	List Methods:**
•	Create a list of fruits.
•	Use the append() method to add a new fruit to the list.
•	Use the pop() method to remove the last fruit from the list.

In [25]:
fruits = ["apple", "banana", "orange"]
fruits.append("grape")
print(fruits)
last_fruit = fruits.pop()
print("Last fruit removed:", last_fruit)

['apple', 'banana', 'orange', 'grape']
Last fruit removed: grape

# **11.	Combining Lists and List Comprehension:**

In [26]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list3 = list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


## **12.Prints even numbers from 1 to 10 in descending order:**

In [39]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = [num for num in numbers if num % 2 == 0]


sorted_even_numbers = sorted(even_numbers, reverse=True)

print(sorted_even_numbers)

[10, 8, 6, 4, 2]

## **13. Prints even numbers from 1 to 10 in reverse order:**

In [42]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers) # Create a list from 1 to 10

# Even numbers in reverse order using list slicing
even_numbers_reversed = numbers[-1:: -2]

# Print the even numbers in reverse order
print(even_numbers_reversed)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 8, 6, 4, 2]


## **14.Combines even and odd lists in alternating order:**

In [45]:
even_numbers = [2, 4, 6]
odd_numbers = [1, 3, 5, 7]

# Combine lists with alternating elements using extend and zip
combined_list = []
combined_list.extend(x for x in even_numbers if x%2==0)  # Add even numbers
combined_list.extend(x for x in odd_numbers if x%2!=0)  # Add odd numbers

# Print the combined list
print(combined_list)

[2, 4, 6, 1, 3, 5, 7]